@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,table,tbody,p,th,td,em{-webkit-text-size-adjust:none;margin:0;padding:0;border:none;-webkit-tap-highlight-color:rgba(0,0,0,0);font-size:14px;font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;}
html,body{height:100%;}
img,input,button,a,select,textarea{margin:0;padding:0;resize:none;border:none;outline:none;} 
ol,ul{list-style:none;} 
h1,h2,h3,h4,h5,h6,p,em,i,b,em{font-size:100%;word-wrap:break-word;font-weight:normal;font-style:normal;}
a:active, a:focus{outline:none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
*html{background-image:url(about:blank);background-attachment:fixed;} /* 修正IE6振动bug */


.top{
	width:1200px; 
	margin:0 auto;
/*	border:1px solid #ccc;*/
	position:relative;
	padding-top:30px;
}
h1{margin-bottom:0px; height:90px;}
h1 a{ display:block; width:700px; height:90px; color:#292929; font-size:32px; text-decoration:none; background:url(../images/sysloginlogo.png) left 10px no-repeat; margin-left:10px;}
h1 a:hover{ text-decoration:none;}
h1 span{ visibility:hidden;}
ul{ position:absolute; top:60px; right:28px;}
ul li a{ color:#292929; text-decoration:none;}
ul li a:hover{ color:#1765c5; text-decoration:underline;}
.hotline{top:25px; right:20px; position:absolute;}



/* slide */
.slide-main{height:580px;position:relative;}
.prev,.next{display:block;width:44px;height:44px;position:absolute;z-index:222;top:267px;overflow:hidden;cursor:pointer;opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);_border:1px solid none;}
.prev{left:70px;}
.next{right:70px;}
.prev:hover,.next:hover,.nav-main a:hover,.nav-main a.cur{opacity:1;-moz-opacity:1;filter:alpha(opacity=100);}
.item{display:block;width:100%;height:5px;position:absolute;z-index:124;top:490px;left:0;text-align:center;}
.item a{display:inline-block;width:24px;height:5px;margin-right:11px;background:#444;opacity:0.3;-moz-opacity:0.3;filter:alpha(opacity=30);overflow:hidden;}
.item a.cur{background:#fff;}
.slide-box,.slide{display:block;width:100%;height:550px;overflow:hidden;}
.slide-box{position:relative;background:url(../images/loginbg.jpg) top center no-repeat;}
.slide{display:none;height:490px;padding-top:89px;background:#ff6900;position:relative;position:absolute;z-index:8;}
#bgstylea{background:url(../images/loginbg.jpg);}
#bgstyleb{background:url(../images/loginbg.jpg);}
#bgstylec{background:url(../images/loginbg.jpg);}
.slide a{display:block;width:100%;height:490px;cursor:pointer;}
.obj-a,.obj-b,.obj-c,.obj-d,.obj-e,.obj-f{position:absolute;z-index:9;left:50%;}
.obj-a,.obj-b{width:952px;margin-left:-476px;text-align:center;}
.obj-a{display:block;height:352px;top:100px;}
.obj-b{top:406px;height:100px;}
.obj-c{display:block;height:582px;top:0;margin-left:-540px;}
.obj-d{top:228px;height:164px;}
.obj-d p{display:block;padding-top:20px;font-size:16px;color:#fff;clear:both;}
.obj-e{width:366px;height:170px;margin-left:-480px;top:223px;z-index:12;}
.obj-f{width:692px;height:394px;top:48px;margin-left:-450px;}
.banAnimate .obj-a{display:block;animation-name:baoAni;-webkit-animation:baoAni 0.4s linear 0s normal none;-moz-animation:baoAni 0.4s linear 0s normal none;animation:baoAni 0.4s linear 0s normal none;}
@-webkit-keyframes baoAni{from{opacity:0;left:60%;} to{opacity:1;left:50%;} }
@-moz-keyframes baoAni{from{opacity:0;left:60%;} to{opacity:1;left:50%;} }
@keyframes baoAni{from{opacity:0;left:60%;} to{opacity:1;left:50%;} }
.banAnimate .obj-b{display:block;animation-name:saAni;-webkit-animation:saAni 0.4s linear 0s normal none;-moz-animation:saAni 0.4s linear 0s normal none;animation:saAni 0.4s linear 0s normal none;}
@-webkit-keyframes saAni{from{opacity:0;-webkit-transform:scale(0,0);} to{opacity:1;-webkit-transform:scale(1,1);} }
@-moz-keyframes saAni{from{opacity:0;-moz-transform:scale(0,0);} to{opacity:1;-moz-transform:scale(1,1);} }
@keyframes saAni{from{opacity:0;transform:scale(0,0);} to{opacity:1;transform:scale(1,1);} }
.watch-code.code-show{display:block;animation-name:scode;-webkit-animation:scode 0.3s linear 0s normal none;-moz-animation:scode 0.3s linear 0s normal none;animation:scode 0.3s linear 0s normal none;}
@-webkit-keyframes scode{from{opacity:0;-webkit-transform:scale(1,0);transform-origin:left bottom;} to{opacity:1;-webkit-transform:scale(1,1); transform-origin: left bottom;} }
@-moz-keyframes scode{from{opacity:0;-moz-transform:scale(1,0); transform-origin:left bottom;} to{opacity:1;-moz-transform:scale(1,1);transform-origin:bottom bottom;} }
@keyframes scode{from{opacity:0;transform:scale(1,0);transform-origin:left bottom;} to{opacity:1;transform:scale(1,1);transform-origin: left bottom;} }
.banAnimate .obj-c,.banAnimate .obj-e{display:block;animation-name:saAnic;-webkit-animation:saAnic 0.3s linear 0s normal none;-moz-animation:saAnic 0.3s linear 0s normal none;animation:saAnic 0.3s linear 0s normal none;}
@-webkit-keyframes saAnic{from{opacity:0;left:47%;} to{opacity:1;left:50%;} }
@-moz-keyframes saAnic{from{opacity:0;left:47%;} to{opacity:1;left:50%;} }
@keyframes saAnic{from{opacity:0;left:47%;} to{opacity:1;left:50%;} }
.banAnimate .obj-d,.banAnimate .obj-f{display:block;animation-name:saAnid;-webkit-animation:saAnid 0.3s linear 0s normal none;-moz-animation:saAnid 0.3s linear 0s normal none;animation:saAnid 0.3s linear 0s normal none;}
@-webkit-keyframes saAnid{from{opacity:0;left:53%;} to{opacity:1;left:50%;} }
@-moz-keyframes saAnid{from{opacity:0;left:53%;} to{opacity:1;left:50%;} }
@keyframes saAnid{from{opacity:0;left:53%;} to{opacity:1;left:50%;} }

/*login*/
.index{ position:relative;}
.container{ width:300px; height:300px; position:absolute; z-index:1000; background:#ccc;}
.container {
	position:relative;
	top:600px;
	width:980px;
	height:0;
	margin:auto;
}
.register-box {
	position:absolute;
	top:-540px;
	right:0;
	width:370px;

	background:#fff;

}
.reg-slogan {
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:24px;
	padding:15px;
}
.reg-form {
	width:305px;
	
	margin:auto;
	margin-left:32px;
	margin-bottom:30px;
}
.reg-form .cell {
	position:relative;
	height:40px;
	margin-bottom:12px;
	zoom:1;

}
.reg-form .cell label {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	padding:0 12px;
	line-height:40px;
	font-size:16px;
	color:#999;
	font-weight:bold;
	cursor:text;
}
.reg-form .cell input {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 11px;
    font-size: 16px;
    background: none;
    border-radius:0px;
    height:40px;
}

.reg-form .cell .icon-form {
	top:11px;
	right:10px;
}
.reg-form .vcode input {
	width:110px;
}
.reg-form .vcode .button {
	position:absolute;
	top:0;
	left:144px;
	width:182px;
	padding:0;
	font-size:14px;
	width:160px;
}
.reg-form .vcode img {
	position:absolute;
	top:0;
	left:144px;
	width:110px;
	height:40px;
}
.reg-form .vcode span {
	position:absolute;
	top:0;
	left:264px;
	line-height:40px;
	font-size:14px;
}
.reg-form .vcode .icon-form {
	right:204px;
}
.reg-form .vcode .login-popup-hint {
	right:194px;
}
.reg-form .user-agreement {
	height:16px;
	margin-top:-22px;
	padding:18px 0;
	line-height:16px;
}
.reg-form .user-agreement input {
	float:left;
	width:14px;
	height:14px;
	margin:1px 5px 0 0;
}
.reg-form .bottom {

	margin-top:20px;
	font-family:"微软雅黑";
	
}
.reg-form .bottom label{


	font-family:"微软雅黑";
	
}
.reg-form .bottom a{

	float:right;
	margin-bottom:20px;
	
}
.validateCode input{
	border-radius:0px;
	width:50% !important;
	height:30px;

}
.validateCode label{
	    position: absolute;
    line-height: 40px;
    font-size: 16px;
    color:#999;
        padding-left: 10px;
    font-family: 微软雅黑;

}
.reg-form .bottom .button {
	display:block;
	border-radius:0px;
	text-decoration:none;
	border-radius:5px;
	width:100%;
}
.text,textarea {
	font-size:14px;
	font-weight:bold;
	color:#333;
	border:1px solid;
	border-color:#CECECF;
	border-radius:0;
	background:white;
	box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-appearance:none;
}
.text:focus,textarea:focus {
	outline:none;
	border-color:#92AFED;
	box-shadow:0 0 5px #92AFEC,inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.text {
	width:170px;
	height:24px;
	padding:7px 9px;
	line-height:24px;
}
.button {
	display:inline-block;
	height:40px;
	padding:0 15px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	font-family:'Heiti SC','\5fae\8f6f\96c5\9ed1','\9ed1\4f53';
	color:white;
	border:0 none;
	background-color:#ccc;
	background-repeat:repeat-x;
	background-position:0 0;
	cursor:pointer;
}
.button:hover {
	text-decoration:none;
}
.button:active {
	background-color:#3482e1;
}
.button .icon {
	position:relative;
	top:11px;
	vertical-align:top;
	font-weight:normal;
}
.button span {
	position:relative;
	top:11px;
	display:inline-block;
	height:16px;
	line-height:16px;
	vertical-align:top;
	padding-left:8px;
}
.button em {
	display:none;
}
.btn-green {
	height:40px;
	line-height:40px;
	background-color:#1b7fd5;
}
.btn-green:hover {
	background-color:#1f8be8;
}


#footer{ width:100%; clear:both;padding:0px 0 40px;}
#footer p{ text-align:center; color:#000;}